html {
    font-family: sans-serif;
    font-size: 12px;
  }
  
  body {
    margin: 0;
  }
  
  html,
  body,
  #root {
    height: 100%;
    overflow-x: hidden;
    margin: 0 auto;
  }
  
  .List {
    left: 50px;
    border: 1px dotted #d9dddd;

  }
  
  .ListItemEven,
  .ListItemOdd {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .ListItemEven {
    background-color: #f8f8f0;
  }
  